# EditorConfig is awesome: https://EditorConfig.org

# Unix-style newlines with a newline ending every file
[*]
indent_style = space
indent_size = 4
tab_width = 4
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = true

[*.md]
trim_trailing_whitespace = false

# Set default charset
[*.py]
charset = utf-8

# Nek5000 is full of trailing spaces
[*.f]
trim_trailing_whitespace = false

# Shell scripts, yaml, toml etc.
[*.{sh,yml,toml}]
indent_size = 2

[*.rst]
indent_size = 3

# Tab indentation (no size specified)
[{Makefile,makefile,Makefile.*}]
indent_style = tab
indent_size = unset
tab_width = unset

