# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Tarballs
*.tar.gz
*.tar.zst

# Nek5000 build files
.state
# src/*/obj
# src/*/makefile_usr.inc
# src/*/*.f
# src/*/*.ma2
# src/*/*.re2
# src/*/box.tmp
# src/*/makefile
# src/*/nek5000
# Nek5000 run output
src/*/data
src/*/*.f?????
src/*/SESSION.NAME
src/*/*.nek5000
src/**/*.log
makefile_usr.inc

# Python
venv/
.python-version
.snakemake
.eggs
*.egg-info
__pycache__
src/*/_version.py
pip-wheel-metadata
build/
dist/

# Jupyter
.ipynb_checkpoints

# Doxygen / Sphinx
docs/_build
docs/_generated

# HPC
bin/*.stdout
bin/*.stderr
bin/*_JOB.md
bin/launcher*.sh

# Coverage.py
htmlcov
.coverage

# VS Code
.vscode

# Ctags
.tags

# Scripts
bin/*.stdout
bin/*.stderr
bin/launcher_*.*
bin/*_JOB.md
