snakemake
fluidsim
jinja2
inflection

sphinx
recommonmark
sphinx_rtd_theme
breathe
setuptools_scm

pytest

ipython
click

qtconsole
colorlog
pdbpp
rope
python-language-server
fortran-language-server
black
flake8
twine
readme-renderer[md]

pynvim
